<!-- <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-default scrolling-navbar" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" href="#"><strong>Navbar</strong></a>
    </logo>
    <links>

        <ul class="navbar-nav">
            <li *ngIf="currentUser" class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" (click)="logout()">Logout</a>
            </li>
           
            <li *ngIf="!currentUser" class="nav-item waves-light" mdbRippleRadius>
                <a [routerLink]="['/login']" class="nav-link ">
				  Sign in
				</a>
            </li>
            <li *ngIf="!currentUser" class="nav-item waves-light" mdbRippleRadius>
                <a [routerLink]="['/register']" class="nav-link " >
				  Sign up
				</a>
            </li>
        </ul>
    </links>
</mdb-navbar>
 -->
