<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-default scrolling-navbar" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" href="#"><strong>Navbar</strong></a>
    </logo>
    <links>
        <!-- <ul class="navbar-nav mr-auto">
            <li class="nav-item active waves-light" mdbRippleRadius>
                <a class="nav-link">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link">Features</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link">Pricing</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link">Opinions</a>
            </li>
        </ul> -->
        <ul class="navbar-nav">
            <li *ngIf="currentUser" class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" (click)="logout()">Logout</a>
            </li>
           
            <li *ngIf="!currentUser" class="nav-item waves-light" mdbRippleRadius>
                <a [routerLink]="['/login']" class="nav-link ">
				  Sign in
				</a>
            </li>
            <li *ngIf="!currentUser" class="nav-item waves-light" mdbRippleRadius>
                <a [routerLink]="['/register']" class="nav-link " >
				  Sign up
				</a>
            </li>
        </ul>
    </links>
</mdb-navbar>


					
<!--   <button *ngIf="currentUser" (click)="logout()" > Logout </button>
  <button *ngIf="!currentUser" (click)="login()" > Login </button>
  <button *ngIf="!currentUser" (click)="register()" > Register </button> -->
 