

<div class="container">
  <div fxLayout="row"
       fxLayout.xs="column"
       fxLayout.sm="column"
       fxFlex class="contentResp">
    <div class="blocks" fxFlex="25" >  </div>

    <div class="blocks" fxFlex="50" >  
      <h2 class="mat-display-1">Login</h2>
      <form class="example-form" (ngSubmit)="login()" #loginForm="ngForm">
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Email"  #email="ngModel" required name="email"
           [(ngModel)]="model.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">

          <md-error *ngIf="email.errors && email.errors.pattern">
            Please enter a valid email address
          </md-error>
          <md-error *ngIf="email.errors && email.errors.required">
            Email is <strong>required</strong>
          </md-error>
        </md-form-field>

        <md-form-field class="example-full-width">
          <input mdInput type="password" placeholder="Password"  name="password"
           #password="ngModel" required
          [(ngModel)]="model.password" >
          
          <md-error *ngIf="password.errors && password.errors.required">
            Password is <strong>required</strong>
          </md-error>
        </md-form-field>

        <div class="button-row">
          
          <button md-raised-button color="primary" type="submit" [disabled]="!loginForm.form.valid">Login</button>
          
        </div>
      </form>
    </div>
    <div class="blocks" fxFlex> </div>
  </div>
</div>