
<div class="container">
	<div fxLayout="row"
	     fxLayout.xs="column"
	     fxLayout.sm="column"
	     fxFlex class="contentResp">
		<div class="blocks" fxFlex="30">
			


			<md-nav-list>
			  <md-list-item mdLine (click)="click1()">
			  <img mdListAvatar src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-512.png" alt="...">
			     <!-- <a mdLine href="#">Chamod</a> -->
			  <h3 mdLine class = "mat-body-1">Chamod</p>
			  <p class = "mat-caption">Caption</p>
			  </md-list-item>

			  
			</md-nav-list> 

		
		 </div>
		<div class="blocks" fxFlex="70">

			
		</div>
	</div>
</div>