<!-- <div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
            <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Register</button>
            
            
        </div>
    </form>
</div>
 -->



<div class="container">
  <div fxLayout="row"
       fxLayout.xs="column"
       fxLayout.sm="column"
       fxFlex class="contentResp">
    <div class="blocks" fxFlex="25" >  </div>

    <div class="blocks" fxFlex="50" >  
      <h2 class="mat-display-1">Register</h2>
      <form class="example-form" (ngSubmit)="register()">
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Email" [formControl]="emailFormControl"  [(ngModel)]="model.email" >
          <md-error *ngIf="emailFormControl.hasError('pattern')">
            Please enter a valid email address
          </md-error>
          <md-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </md-error>
        </md-form-field>

        <md-form-field class="example-full-width">
          <input mdInput placeholder="Username" [formControl]="usernameFormControl"  [(ngModel)]="model.username" >
          <md-error *ngIf="usernameFormControl.hasError('required')">
            Username is <strong>required</strong>
          </md-error>
        </md-form-field>

        <md-form-field class="example-full-width">
          <input mdInput type="password" placeholder="Password" [formControl]="passwordFormControl" [(ngModel)]="model.password" >
          
          <md-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
          </md-error>
        </md-form-field>

        <div class="button-row">
          
          <button md-raised-button color="primary">Register</button>
          
        </div>
      </form>
    </div>
    <div class="blocks" fxFlex> </div>
  </div>
</div>